<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943319888610-rigr1r3sqgapb5q0salqtlhaatokusue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943319888610-rigr1r3sqgapb5q0salqtlhaatokusue</string>
	<key>API_KEY</key>
	<string>AIzaSyAUdfoSrNqTaP9Yit7nyqT_6ZXKQQPihSk</string>
	<key>GCM_SENDER_ID</key>
	<string>943319888610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Idk.Chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2cd70</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2cd70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943319888610:ios:3bb5e3b5033ce65bb724bb</string>
</dict>
</plist>